.comment-item
{
    .avatar img
    {
      width : 30px;
      height : 30px;
    }
    .account-type{
     background-color: #eebc49;
     padding: 5px;
     text-transform: uppercase;
     font-size: 10px;
    }
    .comment-time
    {
     color: #8f9bb3;
     font-size: 12px;
    }
    .btn-action
    {
     position: relative;
     svg
     {
       width: 30px;
       height: 30px;
     }
     .list-action
     {
       position: absolute;
       display: block;
       top: 120%;
       left: 50%;
       transform: translate(-50%);
       background-color: white;
       z-index: 9;
       border:0.0625rem solid #dadce0;
       .action-item
       {
         padding : 8px 12px;
       }
       .action-item:hover
       {
         background-color: #e4e6eb;
       }
    }
    }

}
.comment-item.level-2
{
    background-color: #e0dddd;
    margin-left : 30px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    position: relative;
    &::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e0dddd;
        content: '';
        left: 10px;
        position: absolute;
        top: -9px;
    }
}