$color : yellow;

h1 {
       color: $color;
}

@mixin theme($width, $height, $borderColor) {
       width: $width;
       height: $height;
       border: 2px solid $borderColor
}

.componet-parent {
       .a {
              color: green;
              @include theme(10px, 20px, red)
       }

       .b {
              color: yellow;
              @include theme(10px, 20px, green)
       }
}