.testimonials {
    .single_testimonial {
      h6 {
        color: #f76e11; // Màu chữ cam
        font-size: 1.1rem;
      }
  
      p {
        font-size: 0.8rem;
        color: #141124; // Màu chữ đen để tạo độ tương phản
      }
    }
  
    @media only screen and (max-width: 992px) {
      .slider_content {
        h2 {
          font-size: 1.5rem;
          margin-bottom: 15px !important;
          color: #141124; // Màu chữ đen để tạo độ tương phản
        }
      }
  
      .single_testimonial {
        p {
          font-size: 0.7rem;
          color: #555; // Màu chữ nhẹ hơn để tăng độ đọc được
        }
      }
    }
  }
  